<!DOCTYPE html>
<html>
<head>
	<title>Page</title>
</head>
<body>
	<h1>TITLE</h1>
		<form action="/t" method="POST" class="form-example">
  	<label for="">Hostel<input type="text" name="Hostel" value=""> </label>
		<label for="">Acadmic<input type="text" name="Acadmic" value=""> </label>
		<input type="submit" name="" value="">
</form>
</body>
</html>
