#custom-button1   {
  padding: 10px;
  color: white;
  background-color: #009578;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

#test{
  margin-top: 170px;
  margin-left: 450px;
}

#custom-button2 {
  padding: 10px;
  color: white;
  background-color: #009578;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}
#custom-button3 {
  padding: 10px;
  color: white;
  background-color: #009578;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#custom-button4   {
  padding: 10px;
  color: white;
  background-color: #009578;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

#custom-button4{
  margin-top: 20px;
  margin-left: 150px;
}


#custom-button1 #custom-button2 :hover {
  background-color: #00b28f;
}
#custom-button2 :hover {
  background-color: #00b28f;
}
#custom-button3 :hover {
  background-color: #00b28f;
}

#custom-button4 :hover {
  background-color: #00b28f;
}


#custom-text1   {
  margin-left: 18px;
  font-family: sans-serif;
  color: #aaa;
}
#custom-text2 {
  margin-left: 38px;
  font-family: sans-serif;
  color: #aaa;
}

#custom-text3 {
  margin-left: 40px;
  font-family: sans-serif;
  color: #aaa;
}

/* #custom-text3 {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
} */

ol.progtrckr {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 3.5em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
  color: silver; 
  border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
  content: "\00a0\00a0";
}
ol.progtrckr li:before {
  position: relative;
  bottom: -2.5em;
  float: left;
  left: 50%;
  line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: yellowgreen;
  height: 2.2em;
  width: 2.2em;
  line-height: 2.2em;
  border: none;
  border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo:before {
  content: "\039F";
  color: silver;
  background-color: white;
  font-size: 2.2em;
  bottom: -1.2em;
}


#test{
    background-color: lightgrey;
    width: 350px;
    border: 5px solid yellowgreen;
    padding: 25px;
    margin: 25px;
    margin-top: 170px;
  margin-left: 400px;
  padding: 50px;
  border-radius: 30px;
}

#acad{
  height: 20px;
  margin-left: 15px;
}

#hos
{
  margin-left: 37px;
  height: 20px;
}
