<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="stylesheet" type="text/css" href="style.css">
	
</head>
<body>

	

	<div>
			<ol class="progtrckr" data-progtrckr-steps="5">
					<li class="progtrckr-done">Logging In</li><!--
				 --><li class="progtrckr-done">Library Fine Status</li><!--
				 --><li id = "status1" class="progtrckr-todo">Academic Fee</li><!--
				 --><li id = "status2" class="progtrckr-todo">Hostel Fee</li><!--
				 --><li id = "status3" class="progtrckr-todo">Registration Done!!</li>
				</ol>
	</div>
	
	<!-- <div id="test1"> -->

				<div id="test"> 

					<div>
					<input type="file" id="real-file1" hidden="hidden" />
					<button type="button" id="custom-button1">Upload Academic Pdf</button>
					<span id="custom-text1">No file chosen, yet.</span>
					
					</div>

					<div>
							<form action="/action_page.php">
								DU Academic Number: <input id="acad" type="text" name="fname" placeholder="DU Number"><br>
								<!-- <input type="image" src="submit.gif" alt="Submit" width="48" height="48"> -->
							</form>
					</div>

					<div>
					<input type="file" id="real-file2" hidden="hidden" />
					<button type="button" id="custom-button2">Upload Hostel Pdf</button>
					<span id="custom-text2">No file chosen, yet.</span>

					</div>

					<div>
							<form action="/action_page.php">
								DU Hostel Number: <input id="hos" type="text" name="fname" placeholder="DU number"><br>
								<!-- <input type="image" src="submit.gif" alt="Submit" width="48" height="48"> -->
							</form>
					</div>
					

					<div>
						<input type="file" id="real-file3" hidden="hidden" />
						<button type="button" id="custom-button3">Upload Profile pic</button>
						<span id="custom-text3">No file chosen, yet.</span>
					
						
					</div>

			

			<div>
					<button type="button" id="custom-button4">
						SUBMIT
					</button>
				</div>		
	
	</div>
	<script src="myscripts.js"></script>
</body>
</html>